.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
01.Preprocess/
02.Assembly/
03.Coverage/
04.Merge/
05.Prediction/
06.Quantification/
07.Reference/
JBrowser/
PUBLICATION_DIR/
Nx_Metrics_dir/
Artificial_rnaseq_dir/randomize_paired_evals_dir/
