.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
01.Preprocess/length_required_15/CHKPNT_DIR/cam2_E_CKDL230016188-1A_H75JVDSX7_L3_fastp.chkpt
01.Preprocess/length_required_15/CHKPNT_DIR/cam2v_E_CKDL230016197-1A_H75JVDSX7_L4_fastp.chkpt
01.Preprocess/length_required_15/CHKPNT_DIR/cam4_E_CKDL230016192-1A_H75JVDSX7_L3_fastp.chkpt
01.Preprocess/length_required_15/CHKPNT_DIR/cam6_E_CKDL230016196-1A_H75JVDSX7_L3_fastp.chkpt
01.Preprocess/length_required_15/CHKPNT_DIR/ctrl_E_CKDL230016187-1A_H75JVDSX7_L3_fastp.chkpt
01.Preprocess/length_required_15/CHKPNT_DIR/lit2_E_CKDL230016189-1A_H75JVDSX7_L3_fastp.chkpt
01.Preprocess/length_required_15/CHKPNT_DIR/lit4_E_CKDL230016193-1A_H75JVDSX7_L3_fastp.chkpt
01.Preprocess/length_required_15/CHKPNT_DIR/mix2_E_CKDL230016191-1A_H75JVDSX7_L3_fastp.chkpt
01.Preprocess/length_required_15/CHKPNT_DIR/mix4_E_CKDL230016195-1A_H75JVDSX7_L3_fastp.chkpt
01.Preprocess/length_required_15/CHKPNT_DIR/pol2_E_CKDL230016190-1A_H75JVDSX7_L3_fastp.chkpt
01.Preprocess/length_required_15/CHKPNT_DIR/pol4_E_CKDL230016194-1A_H75JVDSX7_L3_fastp.chkpt
01.Preprocess/length_required_15/MULTIQC_VIZ_DIR/cam2_E_CKDL230016188-1A_H75JVDSX7_L3_fastp.html
01.Preprocess/length_required_15/MULTIQC_VIZ_DIR/cam2_E_CKDL230016188-1A_H75JVDSX7_L3_fastp.json
01.Preprocess/length_required_15/MULTIQC_VIZ_DIR/cam2v_E_CKDL230016197-1A_H75JVDSX7_L4_fastp.html
01.Preprocess/length_required_15/MULTIQC_VIZ_DIR/cam2v_E_CKDL230016197-1A_H75JVDSX7_L4_fastp.json
01.Preprocess/length_required_15/MULTIQC_VIZ_DIR/cam4_E_CKDL230016192-1A_H75JVDSX7_L3_fastp.html
01.Preprocess/length_required_15/MULTIQC_VIZ_DIR/cam4_E_CKDL230016192-1A_H75JVDSX7_L3_fastp.json
01.Preprocess/length_required_15/MULTIQC_VIZ_DIR/cam6_E_CKDL230016196-1A_H75JVDSX7_L3_fastp.html
01.Preprocess/length_required_15/MULTIQC_VIZ_DIR/cam6_E_CKDL230016196-1A_H75JVDSX7_L3_fastp.json
01.Preprocess/length_required_15/MULTIQC_VIZ_DIR/ctrl_E_CKDL230016187-1A_H75JVDSX7_L3_fastp.html
01.Preprocess/length_required_15/MULTIQC_VIZ_DIR/ctrl_E_CKDL230016187-1A_H75JVDSX7_L3_fastp.json
01.Preprocess/length_required_15/MULTIQC_VIZ_DIR/lit2_E_CKDL230016189-1A_H75JVDSX7_L3_fastp.html
01.Preprocess/length_required_15/MULTIQC_VIZ_DIR/lit2_E_CKDL230016189-1A_H75JVDSX7_L3_fastp.json
01.Preprocess/length_required_15/MULTIQC_VIZ_DIR/lit4_E_CKDL230016193-1A_H75JVDSX7_L3_fastp.html
01.Preprocess/length_required_15/MULTIQC_VIZ_DIR/lit4_E_CKDL230016193-1A_H75JVDSX7_L3_fastp.json
01.Preprocess/length_required_15/MULTIQC_VIZ_DIR/mix2_E_CKDL230016191-1A_H75JVDSX7_L3_fastp.html
01.Preprocess/length_required_15/MULTIQC_VIZ_DIR/mix2_E_CKDL230016191-1A_H75JVDSX7_L3_fastp.json
01.Preprocess/length_required_15/MULTIQC_VIZ_DIR/mix4_E_CKDL230016195-1A_H75JVDSX7_L3_fastp.html
01.Preprocess/length_required_15/MULTIQC_VIZ_DIR/mix4_E_CKDL230016195-1A_H75JVDSX7_L3_fastp.json
01.Preprocess/length_required_15/MULTIQC_VIZ_DIR/multiqc_data/multiqc.log
01.Preprocess/length_required_15/MULTIQC_VIZ_DIR/multiqc_data/multiqc_citations.txt
01.Preprocess/length_required_15/MULTIQC_VIZ_DIR/multiqc_data/multiqc_data.json
01.Preprocess/length_required_15/MULTIQC_VIZ_DIR/multiqc_data/multiqc_fastp.txt
01.Preprocess/length_required_15/MULTIQC_VIZ_DIR/multiqc_data/multiqc_general_stats.txt
01.Preprocess/length_required_15/MULTIQC_VIZ_DIR/multiqc_data/multiqc_sources.txt
01.Preprocess/length_required_15/MULTIQC_VIZ_DIR/multiqc_report.html
01.Preprocess/length_required_15/MULTIQC_VIZ_DIR/pol2_E_CKDL230016190-1A_H75JVDSX7_L3_fastp.html
01.Preprocess/length_required_15/MULTIQC_VIZ_DIR/pol2_E_CKDL230016190-1A_H75JVDSX7_L3_fastp.json
01.Preprocess/length_required_15/MULTIQC_VIZ_DIR/pol4_E_CKDL230016194-1A_H75JVDSX7_L3_fastp.html
01.Preprocess/length_required_15/MULTIQC_VIZ_DIR/pol4_E_CKDL230016194-1A_H75JVDSX7_L3_fastp.json
01.Preprocess/length_required_15/slurm-8324.out
01.Preprocess/MULTIQC_VIZ_DIR/cam2_E_CKDL230016188-1A_H75JVDSX7_L3_fastp.html
01.Preprocess/MULTIQC_VIZ_DIR/cam2_E_CKDL230016188-1A_H75JVDSX7_L3_fastp.json
01.Preprocess/MULTIQC_VIZ_DIR/cam2v_E_CKDL230016197-1A_H75JVDSX7_L4_fastp.html
01.Preprocess/MULTIQC_VIZ_DIR/cam2v_E_CKDL230016197-1A_H75JVDSX7_L4_fastp.json
01.Preprocess/MULTIQC_VIZ_DIR/cam4_E_CKDL230016192-1A_H75JVDSX7_L3_fastp.html
01.Preprocess/MULTIQC_VIZ_DIR/cam4_E_CKDL230016192-1A_H75JVDSX7_L3_fastp.json
01.Preprocess/MULTIQC_VIZ_DIR/cam6_E_CKDL230016196-1A_H75JVDSX7_L3_fastp.html
01.Preprocess/MULTIQC_VIZ_DIR/cam6_E_CKDL230016196-1A_H75JVDSX7_L3_fastp.json
01.Preprocess/MULTIQC_VIZ_DIR/ctrl_E_CKDL230016187-1A_H75JVDSX7_L3_fastp.html
01.Preprocess/MULTIQC_VIZ_DIR/ctrl_E_CKDL230016187-1A_H75JVDSX7_L3_fastp.json
01.Preprocess/MULTIQC_VIZ_DIR/lit2_E_CKDL230016189-1A_H75JVDSX7_L3_fastp.html
01.Preprocess/MULTIQC_VIZ_DIR/lit2_E_CKDL230016189-1A_H75JVDSX7_L3_fastp.json
01.Preprocess/MULTIQC_VIZ_DIR/lit4_E_CKDL230016193-1A_H75JVDSX7_L3_fastp.html
01.Preprocess/MULTIQC_VIZ_DIR/lit4_E_CKDL230016193-1A_H75JVDSX7_L3_fastp.json
01.Preprocess/MULTIQC_VIZ_DIR/mix2_E_CKDL230016191-1A_H75JVDSX7_L3_fastp.html
01.Preprocess/MULTIQC_VIZ_DIR/mix2_E_CKDL230016191-1A_H75JVDSX7_L3_fastp.json
01.Preprocess/MULTIQC_VIZ_DIR/mix4_E_CKDL230016195-1A_H75JVDSX7_L3_fastp.html
01.Preprocess/MULTIQC_VIZ_DIR/mix4_E_CKDL230016195-1A_H75JVDSX7_L3_fastp.json
01.Preprocess/MULTIQC_VIZ_DIR/multiqc_data/multiqc.log
01.Preprocess/MULTIQC_VIZ_DIR/multiqc_data/multiqc_citations.txt
01.Preprocess/MULTIQC_VIZ_DIR/multiqc_data/multiqc_data.json
01.Preprocess/MULTIQC_VIZ_DIR/multiqc_data/multiqc_fastp.txt
01.Preprocess/MULTIQC_VIZ_DIR/multiqc_data/multiqc_general_stats.txt
01.Preprocess/MULTIQC_VIZ_DIR/multiqc_data/multiqc_sources.txt
01.Preprocess/MULTIQC_VIZ_DIR/multiqc_report.html
01.Preprocess/MULTIQC_VIZ_DIR/pol2_E_CKDL230016190-1A_H75JVDSX7_L3_fastp.html
01.Preprocess/MULTIQC_VIZ_DIR/pol2_E_CKDL230016190-1A_H75JVDSX7_L3_fastp.json
01.Preprocess/MULTIQC_VIZ_DIR/pol4_E_CKDL230016194-1A_H75JVDSX7_L3_fastp.html
01.Preprocess/MULTIQC_VIZ_DIR/pol4_E_CKDL230016194-1A_H75JVDSX7_L3_fastp.json
02.Assembly/Nx-methods-2.png
02.Assembly/Nx-methods.png
02.Assembly/transcripts.fasta
02.Assembly/Trinity.fasta
03.Coverage/03.Quantification.PCA.png
03.Coverage/Manifest.tsv
03.Coverage/Rnaspades_counts.txt
03.Coverage/Rnaspades_vs_conoserver_protein.fa.diamond.blastx.outfmt6
03.Coverage/Trinity_counts.txt
03.Coverage/Trinity_vs_conoserver_protein.fa.diamond.blastx.outfmt6
Rproject/Rproject.Rproj
